@using apartment_app.Data
@inject PropertiesContext PropertiesDB
@inject NavigationManager NavManager

<div class="simple-form">
    <h3>Name : @Property.Name</h3>
    @if (Property.Owner != null)
    {
        <h3>Owner : @(Property.Owner.FirstName + " " + @Property.Owner.LastName)</h3>
    }
    <button @onclick="Confirm" class="btn btn-danger">Delete</button>
    <button @onclick="BlazoredModal.Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

    [Parameter] public Property Property { get; set; }

    public async Task Confirm()
    {
        if (Property != null)
        {
            PropertiesDB.Property.Remove(Property);
            await PropertiesDB.SaveChangesAsync();
        }

        await BlazoredModal.Close(ModalResult.Ok("Closing"));
        NavManager.NavigateTo("/");
    }
}
