@page "/addproperty"

@using apartment_app.Data
@using System.IO;
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavManager
@inject PropertiesContext PropertiesDB

<link href="css/AddProperty.css" rel="stylesheet" />

<h1>Add Property</h1>

(all submissions are subject to approval)
<br>
<br>

<PropertyComponent Property="@Property" PropertyChanged="@CreateProperty"></PropertyComponent>

<h3 style="color:red"> @message </h3>


@code {

    [Parameter]
    public Property Property { get; set; } = new Property();

    public Landlord add = new Landlord();

    private string message = "";

    private async Task CreateProperty(Property newProperty)
    {
        if(await add.AddProperty(newProperty, PropertiesDB) == true)
        {
            message = "";
            NavManager.NavigateTo("/viewproperty/" + this.Property.ID);
        }
        else
        {
            message = "Property with given Name or address already exists!";
        }
    }

}
