@page "/addproperty"

@using apartment_app.Data
@using System.IO;
@inject NavigationManager NavManager

<link href="css/AddProperty.css" rel="stylesheet" />

<h1>Add Property</h1>

(all submissions are subject to approval)
<br>
<br>

<form>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">First and last name</span>
        </div>
        <input type="text" class="form-control" @bind="property.Owner.FirstName" @bind:event="oninput">
        <input type="text" class="form-control" @bind="property.Owner.LastName" @bind:event="oninput">
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Property Name</span>
        </div>
        <input @bind="property.Name" @bind:event="oninput" class="form-control" type="text" id="propertyName" name="propertyName">
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Address (Line 1)</span>
        </div>
        <input @bind="property.AddressLine1" @bind:event="oninput" class="form-control" type="text" id="addressLine1" name="addressLine1">
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Address (Line 2)</span>
        </div>
        <input @bind="property.AddressLine2" @bind:event="oninput" class="form-control" type="text" id="addressLine2" name="addressLine2">
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Rent (Per person)</span>
        </div>
        <input @bind="property.Rent" @bind:event="oninput" class="form-control" type="text" id="ratesName" name="ratesName">
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Spaces (total)</span>
        </div>
        <input @bind="property.TotalSpaces" @bind:event="oninput" class="form-control" type="text" id="numOccupants" name="numOccupants">
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Spaces available</span>
        </div>
        <input @bind="property.SpacesAvailable" @bind:event="oninput" class="form-control" type="text" id="spacesAvailable" name="spacesAvailable">
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Description</span>
        </div>
        <textarea @bind="property.Description" @bind:event="oninput" class="form-control" id="propertyDescription" name="propertyDescription" rows="4" cols="50" placeholder="Enter any additional information..."></textarea>
    </div>
    <br>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="">Images</span>
        </div>
        <InputFile id="uploadFiles" multiple accept="image/x-png,image/jpeg" class="btn btn-secondary" OnChange="HandleFilesSelected" /><br><br>
    </div>
    <br>

    <button type="submit" class="btn btn-primary" @onclick="CreatePropertyObject">Submit</button>
</form>


@if (selectedFiles != null)
{
    foreach (var file in selectedFiles)
    {
        var isLoading = file.Data.Position > 0;

        <div class="file-row">
            <!-- File info -->
            <div>
                <h2>@file.Name</h2>
            </div>

            <!-- Upload button -->
            <button @onclick="() => LoadFile(file)" disabled="@isLoading">
                @if (!isLoading)
                {
                    <span>Load</span>
                }
                else
                {
                    <span>Loaded @((100.0 * file.Data.Position / file.Size).ToString("0"))%</span>
                }
            </button>
        </div>
    }
}


@code {

    public Property property { get; set; } = new Property();
    IFileListEntry[] selectedFiles;

    private void CreatePropertyObject()
    {
        TempUserDB.Properties.Add(this.property);
        NavManager.NavigateTo("/");
        // Put property object in database

    }

    void HandleFilesSelected(IFileListEntry[] files)
    {
        selectedFiles = files;
    }

    async Task LoadFile(IFileListEntry file)
    {
        // So the UI updates to show progress
        file.OnDataRead += (sender, eventArgs) => InvokeAsync(StateHasChanged);

        // Just load into .NET memory to show it can be done
        // Alternatively it could be saved to disk, or parsed in memory, or similar
        var ms = new MemoryStream();
        await file.Data.CopyToAsync(ms);
        property.FileNames.Add(file.Name);
    }

}
