@page "/addproperty"

@using apartment_app.Data
@using System.IO;
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavManager
@inject PropertiesContext PropertiesDB

<link href="css/AddProperty.css" rel="stylesheet" />

<h1>Add Property</h1>

(all submissions are subject to approval)
<br>
<br>

<PropertyComponent Property="@Property" PropertyChanged="@CreateProperty"></PropertyComponent>

<h3 style="color:red"> @message </h3>


@code {

    [Parameter]
    public int? Id { get; set; }

    public Property Property { get; set; } = new Property();

    private string message = "";

    private async Task CreateProperty(Property newProperty)
    {
        this.Property = newProperty;
        if (PropertiesDB.Property.Any(e => ((e.Name == Property.Name) || (e.AddressLine1 == Property.AddressLine1))))
        {
            message = "Property with given Name or address already exists!";
        }
        else
        {
            PropertiesDB.Property.Add(this.Property);
            await PropertiesDB.SaveChangesAsync();
            message = "";
            NavManager.NavigateTo("/viewproperty/" + this.Property.ID);
        }
    }

}
