@page "/"

<h1>Search Properties</h1>

<div class="search">
    <input type="text" style="width : 85%; height : 36px"/>
    <button class="btn" type="button" style="border-color:black;">Search</button>
</div>
